In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('data.csv')

In [3]:
data.head()

   Age  Mobile Phone  Purchased
0   15          6334          0
1   28          6667          0
2   20         14334          0
3   21         19000          0
4   15         25334          0

In [5]:
data.shape

(199, 3)

In [6]:
from sklearn.linear_model import LogisticRegression

In [7]:
x=data.iloc[:,:-1]
y=data.iloc[:,-1]

In [39]:
from matplotlib import pyplot as plt
from sklearn.metrics import accuracy_score

In [40]:
def build_model(model_name,x,y):
    model=model_name
    model.fit(x,y)
    print(accuracy_score(y,model.predict(x)))
    op=pd.DataFrame({'Acutal':np.array(y),'Predicted':np.array(model.predict(x))})
    return op

In [41]:
op=build_model(LogisticRegression(),x,y)

0.6231155778894473